[alias]
  co = checkout
  ci = commit
  st = status
[core]
  quotepath = false
  whitespace = trailing-space,space-before-tab
  editor = /usr/bin/mvim
  excludesfile = /opt/boxen/config/git/gitignore
[user]
	name = Billy Vong
	email = billyvg@gmail.com
[diff]
  tool = Kaleidoscope
  renames = copies
[merge]
  stat = true
[color]
  ui = auto
	diff = auto
[branch]
  autosetupmerge = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[push]
  default = upstream
[rerere]
  enabled = 1

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[hub]
protocol = https
