[alias]
  co = checkout
  ci = commit
  st = status
[core]
  quotepath = false
  whitespace = trailing-space,space-before-tab
  editor = /usr/bin/mvim -f
[user]
	name = Billy Vong
	email = billyvg@gmail.com
[diff]
  tool = Kaleidoscope
  renames = copies
[merge]
  stat = true
[color]
  ui = auto
[branch]
  autosetupmerge = true
[difftool "Kaleidoscope"]
  cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
  prompt = false
[push]
  default = upstream
[rerere]
  enabled = 1
